.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.normal {
    background-color: #464877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #69b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}


.pokemon {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.pokemon .number {
    color: rgba(0, 0, 0);
    opacity: 0.5;
    text-align: right;
    font-size: 0.9rem;
    font-weight: bolder;
}

.pokemon .name {
    color: aliceblue;
    text-transform: capitalize;
    margin-bottom: 0;
    font-size: 1.2rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: aliceblue;
    text-shadow: #000000 0.05rem 0.05rem 0.1rem;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0.25rem;
    border-radius: 0.5rem;
    font-size: 0.625rem;
    filter: brightness(1.1);
    text-align: center;

}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: 0.35rem 0.85rem;
    margin: 0.25rem 0;
    font-size: 1rem;
    background-color: #6c79db;
    color: white;
    border: none;
    border-radius: 0.5rem;
}

.pagination button:hover{
    background-color: #6466aa;
    cursor: pointer;
}

/* @media screen é tipo um IF */
/* se for maior que 370px ele muda o grid para 2 */
@media screen and (min-width: 370px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

/* se for maior que 370px ele muda o grid para 3 */
@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* se for maior que 370px ele muda o grid para 4 */
@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}